{% extends 'blog/base.html' %}

{% block content %}
<h1> Новый пост</h1>
<form method="POST" class="post_form">{% cstf_token %}</form>
{{form.as_p}}
<button type="submit" class="save btn btn-default">Сохранить</button>
</form>
{% endblock %}
